<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Account</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="compte.component.css">
</head>
<body>

<div class="form-container container mt-5">
  <h1 class="text-center">Add Account</h1>
  <form [formGroup]="AddComptform" (ngSubmit)="saveCompte()" class="mt-4">
    <div class="form-group">
      <label for="account_type">Account Type:</label>
      <select id="account_type" formControlName="account_type" class="form-control">
        <option value="Courant">Courant</option>
        <option value="Epargne">Epargne</option>
        <option value="Family">Family</option>
      </select>
    </div>
    <div class="form-group">
      <label for="solde">Solde:</label>
      <input id="solde" formControlName="solde" type="number" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary btn-block">Submit</button>
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
