<p>user works!</p>
<form [formGroup]="Adduserform" (ngSubmit)="saveUser()">

  <label for="nom">Nom :</label>
  <input id="nom" formControlName="nom" type="text">
  <div *ngIf="Adduserform.get('nom')?.invalid && Adduserform.get('nom')?.touched">
    <small *ngIf="Adduserform.get('nom')?.errors">Nom est requis</small>
  </div>

  <label for="Password">Password:</label>
  <input id="Password" formControlName="Password" type="password">
  <div *ngIf="Adduserform.get('Password')?.invalid && Adduserform.get('Password')?.touched">


  </div>

  <label for="age">Age:</label>
  <input id="age" formControlName="age" type="number">
  <div *ngIf="Adduserform.get('age')?.invalid && Adduserform.get('age')?.touched">
    <small *ngIf="Adduserform.get('age')?.errors">Âge est requis</small>
    <small *ngIf="Adduserform.get('age')?.errors">Âge doit être supérieur à 0</small>
  </div>

  <button type="submit" [disabled]="Adduserform.invalid">Add</button>
</form>

<div class="user-container">
  <h2>Liste des Utilisateurs</h2>
  <ul class="user-list">
    <li class="user-item" *ngFor="let user of GetUser">
      <div class="user-id">ID: {{user.userId}}</div>
      <div class="user-nom">Nom: {{user.nom}}</div>
      <div class="user-password">Password: {{user.password }}</div>
      <div class="user-age">Âge: {{user.age}}</div>
    </li>
  </ul>
</div>
