



<div class="user-container">
  <h2>Liste des Utilisateurs</h2>
  <ul class="user-list list-group">
    <li class="user-item list-group-item d-flex justify-content-between align-items-center" *ngFor="let user of GetUser">
      <div>
        <div class="user-id">Number: {{user.userId}}</div>
        <div class="user-nom">Nom: {{user.nom}}</div>
       <!-- <div class="user-password">Password: {{user.password }}</div>   -->
        <div class="user-age">Âge: {{user.age}}</div>
      </div>
      <button class="btn btn-danger" (click)="deleteCustomer(user.userId)">Delete</button>
      <a class="btn btn-secondary" [routerLink]="['/add_compte',user.userId ]">add compte</a>
      <a class="btn btn-secondary" [routerLink]="['/get_Compte',user.userId ]">Show compte</a>
    </li>
  </ul>
</div>





